<div class="container">
    <h2 class="px-2 mt-4">Teachers</h2>

    <form #addTeacherForm="ngForm" (ngSubmit)="addTeacher(addTeacherForm.value)">
        

        <div class="container">

    <h5 class="py-3">Add and Edit Teachers</h5>
          <div class="containe-flui border border-3 py-3 px-3">
            
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input  [(ngModel)]="teacherToUpdate.firstName" #firstname="ngModel" name="firstname"  type="" class="form-control"  required>
                  <p *ngIf="(!firstname.untouched || addTeacherForm.submitted)&& firstname.errors?.required" class="text-danger">Please Enter the firstname</p>
                </div>

              </div>
    
              <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="teacherToUpdate.lastName" required ngModel #lastname="ngModel" name="lastname"  type="text" class="form-control" id="lName">
                <p *ngIf="(!lastname.untouched || addTeacherForm.submitted)&& lastname.errors?.required" class="text-danger">Please Enter the lastname</p>
                  
                </div>
              </div>
    
    
              <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Contact No</label>
                <div class="col-sm-10">
                  <input required [(ngModel)]="teacherToUpdate.contactNo" #contactNo="ngModel" name="contactNo" type="number" class="form-control" id="contactNo">
                  <p *ngIf="(!contactNo.untouched || addTeacherForm.submitted)&& contactNo.errors?.required" class="text-danger">Please Enter the contact No</p>
                  
                </div>
              </div>
    
            <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input required [(ngModel)]="teacherToUpdate.email" #email="ngModel" name="email" required type="email" class="form-control" id="email">
                  <p *ngIf="(email.touched || addTeacherForm.submitted)&& email.errors?.required" class="text-danger">Please Enter the email</p>

                </div>
              </div>
       
              <button [disabled]="!addTeacherForm.form.valid" type="submit" class="btn btn-success">Insert</button>
              <label  class="px-2"></label>
              <button [disabled]="!addTeacherForm.form.valid" (click)="updateTeacher(addTeacherForm.value)" type="button" class="btn btn-warning">Update</button>
          
            </div>
        </div>
    </form>

    <div class="container py-3">

      <table class="table table-bordered ">
          <thead class="table-dark">
            <tr>
              <th class="col" scope="col">Teacher Name</th>
              <th class="col" scope="col">Contact Number</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
  
            </tr>
          </thead>
          <tbody *ngFor="let teacher of teachers">
            <tr>
              <td scope="row">{{teacher.firstName}} {{teacher.lastName}}</td>
              <td scope="row">{{teacher.contactNo}}</td>
              <td>
                  <button type="button" (click)="editTeacher(teacher._id)" class="mt-2 btn btn-warning">Edit</button>
              </td>
              <td>
                  <button type="button" (click)="deleteTeacher(teacher._id)" class="mt-2 btn btn-danger">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
   
</div>
